* {
    margin: 0;
    padding: 0;
}
/*============    /start   ===========*/
body{
    background-color: grey;
    .wrapper {
        display: flex;
        align-items: stretch;
    }
    
    #sidebar {
        min-width: 250px;
        max-width: 250px;
    }
    
    #sidebar.active {
        margin-left: -250px;
    }
}

















/*============    	АДАПТИВ    ===========*/

@media(min-width:0px) and (max-width:320px) {
	
}

@media(min-width:321px) and (max-width:480px) {
	
}

@media(min-width:481px) and (max-width:768px) {
	
}

@media(min-width:769px) and (max-width:992px) {
	
}

@media(min-width:993px) and (max-width:1200px) {
	
}

@media print {
    .hidden-print {
      display: none !important;
    }
  }


